#header
  display flex
  justify-content center
  flex-wrap wrap
  align-items center
  background-color rgba(255, 0, 0, .5)
  padding 1em

  #logo
    color white
    min-width 50%
    letter-spacing -.2em
    font 500 2em Open Sans

  nav

    ul
      display flex
      list-style none

      li
        padding-left 1em
        a
          text-decoration none
          color white

  #name
    color white
    text-align center
    border 3px solid white
    padding .5em 1em
    font 300 3em Open Sans
